:root {
    --skyBlue: #65dbff;
    --blue: #007bff;
    --darkBlue: #00499a;
    --white: #ffffff;
    --light: #e3e3e3;
    --dark: #474747;
    --gray: #6f6f6f;
    --black: #000000;
    --lightGreen: #66ff00;
    --forestGreen: #00ba3e;
    --darkGreen: #006d24;
    --red: #ff0000;
    --lightRed: #fd6464;
    --darkRed: #a30000;
    --gold: #ffb907;
    --yellow: #ffd608;
    --purple: #a100ff;
    --pink: #ff29f1;
    --orange: #ff6e07;
    --logoColor: #00BCD5;

}

